@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');

a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 4em;
}

.gallery{
    font-family: 'Long Cang', 'cursive', 'serif';
    text-align: center;
    font-size: 4em;
  
}   

.city{
    position: relative;
	top: 0;
	bottom : 0;
	right: 0;
	left : 0;
	transition: .5 ease;

}

.city-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
   

}

.city:hover .city-name{
    opacity:1;

}

/* .city:hover .city-photo{
    opacity: 0.7;
} */

.city-photo{
  

}

.toronto{

}

.helsinki{

}

.osaka{

}

.lagos{

}


}